<ul>
  <li>Name: <%= @task.name %></li>
  <li>Description: <%= @task.description %></li>
  <li>Complete? <%= @task.complete %></li>
  <li>Completion Date: <%= @task.completion_date %></li>
</ul>


<%= button_to "Edit", edit_task_path(@task.id) %>
<%= button_to "Delete", task_path(@task.id), method: :delete,
data: {confirm: "Are you really, really sure?"}%>
<%= button_to "Back to Task List", tasks_path, method: :get %>
