<h1>Tasks#show</h1>

<ul>
  <li>Name: <%= @task.name %></li>
  <li>Description: <%= @task.description %></li>
  <li>Complete? <%= @task.complete %></li>
  <li>Completion Date: <%= @task.completion_date %></li>
</ul>


<%= link_to "Edit", task_edit_path(@task.id) %>
<%= link_to "Delete", task_path(@task.id), method: :delete,
data: {confirm: "Are you really, really sure?"}%>
