<!DOCTYPE html>
<html>
<head>
  <title>TaskListRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <% if session[:user_id].nil? %>
      <h3><%= link_to "Login", "/auth/github/" %></h3>
      <% else %>
      <h3><%= link_to "Logout", logout_path, method: :delete %></h3>
      <% end %>
    </nav>
  </header>
  <h1>Task List</h1>

  <%= yield %>

</body>
</html>
